@media screen and (max-width:600px) {
    
    .navbar{
        padding-left: 20px;
        padding-right: 0;
        margin-right: 0;
        display: flex;
        flex-direction:column;
        text-align: center;
        padding-bottom: 9px;
    }

    .botao_menu{
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-flex;
        font-size: 13px;
        width: fit-content;
        height: fit-content;
        padding: 3px 10px;
        margin-right: 5px;
    }

    .principal .botao{       
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 11px;
        margin-bottom: 5px;
        padding-top: 7px;
        padding-bottom: 7px;
        justify-content: center;
    }

    .botoes{
        width: fit-content;
        display: flex;
    }

    .principal .container{       
        margin-top: 250px;
        margin-bottom: 70px;
        margin-left: 15px;
    }

    .principal .descricao{
        margin-top: 10px;
        margin-bottom: 50px;
        width: 100%;
        font-size: 13px;
    }

    .principal .titulo{
        margin-right: 10px;
        font-size: 40px;
    }

    .divisoes{
        font-size: 18px;
        margin-top: 30px;
        padding-left: 0;
    }

    .footer_copyright{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .logos{
        height: 35px;
    }

    .frame_filme_principal{
        width:100%;
        height:100%;
    }

    .img_especies{
        width: 120%;
    }
    
}


